# Archivos de entorno y configuración sensible
.env

# Caché y logs de CodeIgniter
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*

# Dependencias de PHP
/vendor/

# Archivos de logs y debugging
*.log
php_errorlog